div.modal.fade#disclaimer
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type="button", data-dismiss="modal")
            span &times;
        h4.modal-title(style="text-align: center;") DISCLAIMER
        div.modal-body(style="text-align: justify;")
          p
          | Данный сервис и полученные результаты не несут в себе цели оскорбить кого бы то ни было.
          | Любые результаты предоставляются сугубо в развлекательных целях.
          | Полученные результаты не могут в дальнейшем использоваться в качестве не развлекательных материалов.
          | Любые результаты полученные сервисом не отображают реальных способностей и умений и не имеют ничего общего с реальностью.